{% extends 'bookings/base.html' %}

{% block title %}Error 404 - Página no encontrada{% endblock %}

{% block content %}
    <div class="container my-5">
        <div class="p-4 py-lg-5 d-flex align-items-center rounded-3 border shadow-lg">
            <div>
                <h1 class="display-4 fw-bold lh-1 text-body-emphasis">Error 404 - Página no encontrada/h1>
                <p class="lead">Lo sentimos, la página que estás buscando no se pudo encontrar.</p>
            </div>
        </div>
    </div>
{% endblock %}