{% extends 'bookings/base.html' %}

{% block title %}Detalle de la Sala{% endblock %}

{% block content %}
<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h2 class="mb-4">Sala</h2>
                    <a href="{% url 'vbc_room_list' %}" class="btn btn-primary">Volver a salas</a>
                </div>
                <div class="card shadow-sm">
                    <div class="card-header bg-dark text-white">
                        Detalle de la Sala
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ detail_room_vbc.nombre }}</h5>
                        {% if detail_room_vbc.disponible %}
                        <h6 class="card-subtitle mb-2">Disponibilidad: Disponible</h6>
                        {% else %}
                        <h6 class="card-subtitle mb-2">Disponibilidad: No Disponible</h6>
                        {% endif %}
                        <p class="card-text">Capacidad: {{ detail_room_vbc.capacidad }}</p>
                        <p class="card-text">Descripción: {{ detail_room_vbc.descripcion | default:"No proporcionado" }}</p>

                        <div class="card card-body">
                            <div class="d-flex justify-content-between align-items-center">
                               <div>
                                    Comentarios de la sala: 
                                    {{ detail_room_vbc.comentarios.all|length }}
                               </div>
                               {% if detail_room_vbc.comentarios.count > 0 %}
                               <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Ver comentarios</button>
                               {% endif %}
                            </div>
                        </div>
                        {% if detail_room_vbc.comentarios.count > 0 %}
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Todos los comentarios</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="card">
                                            <ul class="list-group list-group-flush">
                                                {% for comentario in detail_room_vbc.comentarios.all %}
                                                <li class="list-group-item">
                                                    <strong>
                                                        {% if comentario.usuario.first_name %}
                                                            {{ comentario.usuario.first_name }}
                                                        {% else %}
                                                            {{ comentario.usuario.username }}
                                                        {% endif %}
                                                    </strong>:
                                                    {{ comentario.contenido }}
                                                </li>
                                                {% empty %}
                                                <li class="list-group-item">No hay comentarios para esta sala.</li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="mt-4">
                    <h3>Reservas para esta Sala</h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Nombre de Usuario</th>
                                <th scope="col">Fecha</th>
                                <th scope="col">Hora de Inicio</th>
                                <th scope="col">Hora de Fin</th>
                                <th scope="col">Descripción</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for reserva in detail_room_vbc.reservas.all %}
                            <tr>
                                <td>{{ reserva.nombre_de_usuario }}</td>
                                <td>{{ reserva.fecha | date:"d/m/Y" }}</td>
                                <td>{{ reserva.hora_inicio | date:"H:i" }}</td>
                                <td>{{ reserva.hora_fin | date:"H:i" }}</td>
                                <td>{{ reserva.descripcion | default:"No proporcionado" }}</td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="5">No hay reservas para esta sala.</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
