{% extends 'bookings/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5">
                <div class="card-header bg-dark text-white">
                    Login
                </div>
                <div class="card-body">
                    <form method="POST" action="{% url 'login' %}">
                        {% csrf_token %}
                        {{ form_login.as_p }}
                        <button type="submit" class="btn btn-primary">Login</button>
                    </form>
                    <a href="{% url 'password_reset' %}">¿Olvidaste tu contraseña?</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
