{% extends 'bookings/base.html' %}

{% block title %}About{% endblock %}

{% block content %}
{% load static %}
<section id="about" class="my-5">
    <div class="container">

        <div class="mb-4">
            <h2>Sobre el creador</h2>
            <p>Profesional especializado en la creación y mejora de la interfaz de usuario y la experiencia del usuario
                en aplicaciones web y mobile.</p>
        </div>

        <div class="row p-4 py-lg-5 align-items-center rounded-3 border shadow-lg">
            <div class="col-lg-4 aos-init">
                <img src="{% static 'bookings/img/265601537.jpg' %}" class="img-fluid" alt="Jefferson Varela">
            </div>
            <div class="col-lg-8 pt-4 pt-lg-0">
                <h3>Designer &amp; Web Developer / Mobile.</h3>
                <p class="fst-italic">
                    Soy una persona entuciasta con los retos relacionados laborales, me gusta buscar la manera de
                    solucionar e implementar soluciones.
                </p>
                <div class="row">
                    <div class="col-lg-6">
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <strong>Nacido:</strong> <span>21 de abril de
                                    1982</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong>
                                <span>www.jeffvarela.com</span>
                            </li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Telf.:</strong> <span>+56 9 3532 6536</span>
                            </li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Ciudad:</strong> <span>Santiago,
                                    Chile</span></li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <strong>Edad:</strong> <span>42</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Grado:</strong> <span>Senior</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Correo:</strong>
                                <span>jeffersonvarela480@gmail.com</span>
                            </li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Disponible</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <p>
                    Pasión por aprender lo nuevo, voy en pro de la utilización de recursos que mejoren los sistemas y
                    aplican mayor rendimiento. También disfruto de compartir el conocimiento ya que esto ayudará y
                    portará soluciones en equipo.
                    <strong><i>Más de 15 años en el mundo del desarrollo web</i></strong>
                </p>
            </div>
        </div>
        <div class="row p-4 py-lg-5 align-items-center rounded-3 border shadow-lg mt-5">
            <div class="section-title">
                <h2>Skills</h2>
                <p>Total disponibilidad en aprender algo nuevo que sume, optimice y mejore el rendimientode las necesidades del proyecto.</p>
            </div>
            <div class="row skills-content">

                <div class="col-lg-6">

                    <div class="py-3">
                        <span class="skill">Angular <i class="val">80%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar bg-success" style="width: 80%">80%</div>
                            </div>
                        </div>
                    </div>

                    <div class="py-3">
                        <span class="skill">React Js <i class="val">75%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar bg-success" style="width: 75%">75%</div>
                            </div>
                        </div>
                    </div>

                    <div class="py-3">
                        <span class="skill">React Native <i class="val">75%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar bg-success" style="width: 75%">75%</div>
                            </div>
                        </div>
                    </div>

                    <div class="py-3">
                        <span class="skill">Ionic / Angular <i class="val">80%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar bg-success" style="width: 80%">80%</div>
                            </div>
                        </div>
                    </div>

                    <div class="py-3">
                        <span class="skill">Typescript <i class="val">82%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="82" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar bg-success" style="width: 82%">82%</div>
                            </div>
                        </div>
                    </div>

                    <div class="py-3">
                        <span class="skill">HTML / Css / JavaScript <i class="val">100%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar bg-success" style="width: 100%">100%</div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-lg-6">

                    <div class="py-3">
                        <span class="skill">RoR <i class="val">80%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar bg-success" style="width: 80%">80%</div>
                            </div>
                        </div>
                    </div>

                    <div class="py-3">
                        <span class="skill">Python <i class="val">70%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar bg-success" style="width: 70%">70%</div>
                            </div>
                        </div>
                    </div>

                    <div class="py-3">
                        <span class="skill">PUG JS / GULP JS <i class="val">80%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar bg-success" style="width: 80%">80%</div>
                            </div>
                        </div>
                    </div>

                    <div class="py-3">
                        <span class="skill">SalesForce (Marketing Clouds) <i class="val">95%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar bg-success" style="width: 95%">95%</div>
                            </div>
                        </div>
                    </div>

                    <div class="py-3">
                        <span class="skill">WordPress/CMS <i class="val">95%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar bg-success" style="width: 95%">95%</div>
                            </div>
                        </div>
                    </div>

                    <div class="py-3">
                        <span class="skill">Three Js <i class="val">80%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar bg-success" style="width: 80%">80%</div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <div class="row p-4 py-lg-5 align-items-center rounded-3 border shadow-lg mt-5">
            <div class="section-title">
                <h2>Experiencia</h2>
                <p>A lo largo de mi experiencia como profecional, he experimientado en distintas áreas de trabajos con distintos cargos y numerosos proyectos, dejo aquí los últimos aplicado en Chile.</p>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="d-flex justify-content-between">
                        <h4>Front end developer owner</h4>
                        <span><i>SEPT. 2023 - Actual</i></span>
                    </div>
                    <span class="fw-bold"><i>Copec / 2Brains</i></span>
                    <p>MarketingCloud – Salesforce, Journey Builder, Email studio, Web studio, Contact Builder, Query studio, Analytics Builder.</p>
                </li>
                <li class="list-group-item">
                    <div class="d-flex justify-content-between">
                        <h4>Front end developer</h4>
                        <span><i>ABRIL 2022 - AGO. 2023</i></span>
                    </div>
                    <span class="fw-bold"><i>Banco de Chile (Banchile) / 2Brains</i></span>
                    <p>Front-End Desarrollador del sitio se seguros Banchile desde cero en Modyo, a través de APIs y Widgets reutilizables.</p>
                </li>
                <li class="list-group-item">
                    <div class="d-flex justify-content-between">
                        <h4>Front end developer</h4>
                        <span><i>ABRIL 2018 - ABRIL 2022l</i></span>
                    </div>
                    <span class="fw-bold"><i>Banco Bci / Leytonmedia</i></span>
                    <p>Front-End encargado de las principales páginas del banco (personas, empresarios, empresas, corredora de seguros entre otras)</p>
                </li>
            </ul>
        </div>

    </div>
</section>
{% endblock %}